*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: outfit;
    background: linear-gradient(#ffdad5,#fff7f9);
}

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}

.contact-left-title h2{
    font-weight: 600;
    color: rgb(38, 38, 37);
    font-size: 40px;
    margin-bottom: 5px;

}

.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: aqua;
    border-radius: 10px;
}

.contact-inputs{
    height: 50px;
    width: 400px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: rgb(154, 108, 197);
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid #ffdad5;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff7f9;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#d54b39,#e85b7e);
    cursor: pointer;
}

.contact-right img{
    width: 500px;
}

@media(max-width:800px){
    .contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}